<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pokédex{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
          integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body class="bg-gray-100 text-gray-900">
<div class="container mx-auto py-8">
    <a href="{% url 'pokemon-list' %}">
        <h1 class="text-3xl font-bold mb-6 text-center">Pokédex</h1>
    </a>
    {% block content %}
    {% endblock %}
</div>
{% block js_scripts %}
    <script>
        function toggleCompare(pokemonId) {
            fetch(`/compare/${pokemonId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
                .then(response => response.json())
                .then(data => {
                    const isOnComparePage = window.location.pathname.startsWith("/compare");
                    console.log(data.compare_list)
                    if (isOnComparePage) {
                        window.location.reload();
                    } else if (data.compare_list.length > 1) {
                        window.location.href = "/compare/";
                    } else {
                        alert("Compare updated.");
                    }
                });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}
</body>
</html>