{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pokédex{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body class="bg-gray-100 text-gray-900">
<div class="container mx-auto py-8">
    <a href="{% url 'pokemon-list' %}">
        <h1 class="text-3xl font-bold mb-6 text-center">Pokédex</h1>
    </a>
    {% block content %}
    {% endblock %}
</div>
{% block js_scripts %}
    <script>
        function toggleCompare(pokemonId) {
            fetch(`/compare/${pokemonId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                credentials: "include",
            })
                .then(response => response.json())
                .then(data => {
                    const isOnComparePage = window.location.pathname.startsWith("/compare");
                    console.log(data.compare_list)
                    if (isOnComparePage) {
                        window.location.reload();
                    } else if (data.compare_list.length > 1) {
                        window.location.href = "/compare/";
                    } else {
                        alert("Compare updated.");
                    }
                });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(';');
                for (let cookie of cookies) {
                    cookie = cookie.trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        fetch("/csrf/", {
            credentials: "include"
        });
    </script>
{% endblock %}
</body>
</html>