<div class="text-sm text-gray-700">
    <p class="font-semibold">{{ title }}:</p>
    <div class="flex flex-wrap gap-0 mb-2">
      {% for t in values %}
        <div class="flex items-center space-x-1 px-2 py-1 rounded">
        {% if t.image %}
          <img src="{{ t.image }}" class="w-12 object-contain rounded" alt="{{ t.name }}">
        {% else %}
            {{ t.name|upper }}
        {% endif %}
        </div>
      {% empty %}
        <span class="text-sm text-gray-500"> - </span>
      {% endfor %}
    </div>
</div>